/* 
    Body Background color; #fcfcfd; Athens Gray,
    Body Text color ; #272d32; Shark,
    Header/Footer Backgroud color; #ffffff,
    Header/Footer Text color; #004182; Congress Blue
    
*/


/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Russo+One&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

/* From love running project */
/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}